@media (max-width: 40rem) {
  body {
    font-size: 16px;
    gap: 1rem;
    margin: 1rem 0;
  }

  .preview__profile {
    flex-direction: column;
    align-items: center;
  }

  .preview__info {
    align-items: center;
  }

  .preview {
    width: 90%;
  }

  .preview__photo {
    scale: 0.8;
  }

  .preview__name {
    text-align: center;
  }

  .preview__action-buttons {
    justify-content: center;
  }

  .preview__action-buttons a {
    font-size: 12px;
    padding: 0.7rem 1rem;
  }

  .preview__action-buttons--yellow img {
    width: 0.5rem;
    height: 0.5rem;
  }

  .preview__icon {
    width: 1rem;
    height: 1rem;
  }

  .portfolio {
    width: 90%;
  }

  .portfolio__navigation {
    padding: 0.3rem 0.3rem;
  }

  .portfolio__content {
    grid-template-columns: 1fr;
  }
}
